*.egg
*.egg-info
*.mo
*.py[cod]
*.ropeproject*
*.so
*~
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
bin
build
cover
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
*.DS*
